DB_NAME=Nombre_de_tu_db
DB_USER=Tu_usuario_de_postgres
DB_PASSWORD=Password_de_tu_usuario
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgres://Tu_usuario_de_postgres:Password_de_tu_usuario@localhost:5432/Nombre_de_tu_db
NODE_ENV=development